[submodule "imagemagick"]
	path = imagemagick
	url = https://github.com/opscode-cookbooks/imagemagick.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/reoring/postgresql.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
